* {
  margin: 0;
  padding: 0;
}

body {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileimg{
  border-radius: 50%;
  margin-top: 40%;
  /* box-shadow: 0px 2px 7px 0px; */
}

.container h3 {
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.rec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.rec p {
  background: white;
  font-size: x-large;
  border: 2px solid;
  border-radius: 12px;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
}

.doctor-lis {
  min-height: 100vh;
}