* {
  margin: 0;
  padding: 0;
}

body {
  /* background-image: linear-gradient(-45deg, #2A2F4F, #917FB3, #E5BEEC);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 12px;
  margin-top: 40%;
  margin-bottom:40% ;
  padding: 20px;
  gap: 10px;
}

.profileimg{
  border: 2px solid #000;
  border-radius: 50%;
  /* margin-top: 40%; */
  /* box-shadow: 0px 2px 7px 0px; */
}

.rec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 2rem; */
}

.rec p {
  background: aliceblue;
  font-size: x-large;
  border: 2px solid #000;
  border-radius: 12px;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  transition: 1.2s ease;
}

.doctor-lis {
  min-height: 100vh;
}

.rec p:hover{
  background: #000;
  color:aliceblue ;
}
/* @keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
} */