* {
  margin: 0;
  padding: 20px;
}

body {
  background: #d99bff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h3 {
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.rec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rec p {
  background: white;
  font-size: x-large;
  max-width: 50%;
  border-radius: 12px;
}

.doctor-lis {
  min-height: 100vh;
}
