* {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #e3e3ee;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  
  max-width: 500px;
  padding: 40px;
  position: relative;
  text-align: center;
  width: 90%;
  padding-top: 100px;
  transform: translate(0px, 80px);
  display: flex;
  flex-direction: column;
}

.container h1 {
  color: #efebe0;
  font-size: 24px;
  margin-bottom: 0px;
  transform: translate(0px, -20px);
}

.container label {
  display: inline-block;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

.container input[type="text"],
input[type="password"],
input[type="email"] {
  border: none;
  border-bottom: 1px solid #555555;
  padding: 0.625rem;
  /* width: 80%; */
  /* padding-top: 20px; */
}

.forgot-password {
  color: #555555;
  position: absolute;
  right: 20px;
  top: 20px;
}

.login-type {
  position: absolute;
  top: 20px;
}

.login-type a {
  border: none;
  color: #555555;
  display: inline-block;
  margin-right: 20px;
  padding: 10px;
  text-decoration: none;
}

.login-type a.active {
  border-bottom: 2px solid #efebe0;
  color: #efebe0;
}

#forgot-password {
  color: #790846;
  text-decoration: none;
}

#username,
#password,
#email,
#parent-key,
#teacher-key,
#gender,
#tag {
  background: transparent;
}

#login-form {
  display: flex;
  flex-direction: column;
}

.invisible {
  display: none;
}

form button {
  background-image: linear-gradient(to right, #ddd6fe, #faaca8);
  border: 2px solid rgb(234, 255, 191);
  border-radius: 5px;
  font-weight: bold;
  font-size: larger;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

.forcre {
  display: flex;
  justify-content: space-between;
  /* padding-top: 15px; */
  font-style: italic;
  color: #00c9ff;
}

.google {
  transform: translate(0px, -14px);
}

#login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#forgot-password {
  color: #ffffff;
  text-decoration: solid;
  z-index: 1000;
}

.google {
  font-size: larger;
}

input {
  border: none;
  outline: none;
}

.siupfor {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  font-style: italic;
  color: #00c9ff;
}