*{
    background: rgb(13, 167, 167);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: xx-large;
    color: black;
    font-weight: bolder;
}
.quetion{
    font-size: larger;
}

.btn{
    height: 35px;
    width: 120px;
    border-radius: 6px;
    background: white;
    /* transform: translate(500px); */
    border: none;
    font-size: large;
    font-weight: bold;
    margin-top: 25px;   
}