* {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* .bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  } */
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #7aa7c7;
    border-radius: 12px;
    margin-top: 40%;
    margin-bottom:40% ;
    padding: 20px;
    gap: 10px;
  }
  
  /*Profile image*/
  .profileimg{
    border: 1px solid #7aa7c7;
    border-radius: 50%;
  }
  
  /* info text */
  .rec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .rec p {
    background: #b3d3ea;
    color:#2c5777 ; 
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 15px;
    border: 1px solid #7aa7c7;
    border-radius: 12px;
    margin: 10px;
    padding: 10px;
    font-weight:500;
  }
  
  /* button */
  .btn {
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }
  
  .btn:hover,
  .btn:focus {
    background-color: #b3d3ea;
    color: #2c5777;
  }
  
  .btn:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }
  
  .btn:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
  }
  
  /* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
  
    50% {
        background-position: 100% 50%;
    }
  
    100% {
        background-position: 0% 50%;
    }
  } */