* {
  margin: 0;
  padding: 0;
}

.bg {
  padding-top: 1.5rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #000; */
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top:100px ;
  /* background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8); */
  background: #F8CBA6;
}

body h1{
  font-size: 4rem;
}

.video-question {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  margin: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0 1.5rem 0;
  /* background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8); */
  padding: 200px;
  border-radius: 12px;
  box-shadow: 2px 5px 5px;
  background: #FFE7CC;
}

form button {
  height: 2rem;
  width: 50%;
  /* background-color: white; */
  border: 2px solid #967E76;
  border-radius: 12px;
  font-size: large;
  font-weight: bold;
  background: #D7C0AE;
  transition: 1.2s;
}

form button:hover {
  background-color: #EAE0DA;
}