* {
  margin: 0;
  padding: 0;
}

.bg {
  padding-top: 1.5rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  margin: 1.2rem;
}
