*{
    margin: 0;
    padding: 0;
    /* background: ; */
}

body{
    height: 100vh;
    background: linear-gradient(hotpink,white);
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    border: 10px white;
    border-style: border-box;
}


.bg h1{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    transform: translate(0px, );
}

.label{
    
}

.parents, .teachers{
    height: fit-content;
    width: fit-content;
    border-radius: 12px;
    border: none;
    font-size: 3.5rem;
    cursor: pointer;
    background: transparent;
}

.P, .T{
    font-size:xx-large;
}